.hero {
  width: 100%;
  position: relative;
  z-index: -1;
}

.hero img {
  width: 100%;
  height: 60vh;
}

.hero-title {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  margin: 0;
}
